[Unit]
Description=HAProxy docker wrapper
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutSec=30
RestartSec=15
Restart=always

# Delete HAProxy container (if any)
ExecStartPre=-/usr/bin/docker rm -f {{ haproxy_container.name | default('haproxy') }}

# Start HAProxy container
ExecStart=/usr/bin/docker run -d --name {{ haproxy_container.name | default('haproxy') }} \
  {% for option in haproxy_container.options | default([]) %}
  {{ option }} \
  {% endfor %}
  {% for env in haproxy_container.envs | default([]) %}
  --env {{ env }} \
  {% endfor %}
  {% for volume in haproxy_container.volumes | default([]) %}
  --volume {{ volume }} \
  {% endfor %}
  {{ haproxy_container.image | default('bitnami/haproxy:latest') }} {{ haproxy_container.run_command | default('') }}

# Stop HAProxy container
ExecStop=-/usr/bin/docker stop {{ haproxy_container.name | default('haproxy') }}
ExecStopPost=-/usr/bin/docker rm -f {{ haproxy_container.name | default('haproxy') }}

# Send HUP to reload config
ExecReload=/usr/bin/docker exec {{ haproxy_container.name | default('haproxy') }} kill -USR2 1

[Install]
WantedBy=multi-user.target
