---
- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto
  when: ansible_facts.packages is not defined
  check_mode: false

- name: Install cronie package
  ansible.builtin.dnf:
    name: cronie
    state: present
  register: package_status
  until: package_status is success
  delay: 5
  retries: 3
  environment: "{{ proxy_env | default({}) }}"
  when:
    - ansible_os_family == "RedHat"
    - "'cronie' not in ansible_facts.packages"
  tags: pgbackrest_cron

- name: Install cron package
  ansible.builtin.apt:
    name: cron
    state: present
  register: apt_status
  until: apt_status is success
  delay: 5
  retries: 3
  environment: "{{ proxy_env | default({}) }}"
  when:
    - ansible_os_family == "Debian"
    - "'cron' not in ansible_facts.packages"
  tags: pgbackrest_cron

- name: Add pgbackrest cron jobs on database server
  ansible.builtin.include_role:
    name: vitabaks.autobase.cron
  vars:
    cron_jobs: "{{ pgbackrest_cron_jobs }}"
  when:
    - "'postgres_cluster' in group_names"
    - pgbackrest_repo_host | default('') | length < 1
  tags: pgbackrest_cron

# Dedicated pgbackrest server (if "repo_host" is set)
- name: Add pgbackrest cron jobs on pgbackrest server
  ansible.builtin.include_role:
    name: vitabaks.autobase.cron
  vars:
    cron_jobs: "{{ pgbackrest_cron_jobs }}"
  when:
    - "'pgbackrest' in group_names"
    - pgbackrest_repo_host | default('') | length > 0
  tags: pgbackrest_cron
