---
# Automatic setup of the backup configuration based on the selected cloud provider.
# if 'cloud_provider' is 'aws', 'gcp', 'azure', 'digitalocean'.
- ansible.builtin.import_tasks: auto_conf.yml
  when:
    - cloud_provider | default('') | length > 0
    - pgbackrest_auto_conf | default(true) | bool # to be able to disable auto backup settings
  tags: pgbackrest, pgbackrest_conf

- block:
    # Debian pgdg repo
    - name: Make sure the gnupg, apt-transport-https and python3-debian packages are present
      ansible.builtin.apt:
        pkg:
          - gnupg
          - apt-transport-https
          - python3-debian
        state: present
      register: apt_status
      until: apt_status is success
      delay: 5
      retries: 3

    - name: Add pgdg repository and signing key
      ansible.builtin.deb822_repository:
        name: "{{ pgbackrest_repo_name | default('apt-postgresql-org') }}"
        types: [deb]
        uris: "https://apt.postgresql.org/pub/repos/apt/"
        signed_by: "https://apt.postgresql.org/pub/repos/apt/ACCC4CF8.asc"
        suites: "{{ ansible_distribution_release }}-pgdg"
        components: [main]
        state: present
        enabled: true
      when: ansible_os_family == "Debian"

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
      register: apt_status
      until: apt_status is success
      delay: 5
      retries: 3
  environment: "{{ proxy_env | default({}) }}"
  when:
    - installation_method == "packages"
    - ansible_os_family == "Debian"
    - pgbackrest_install_from_pgdg_repo|bool
  tags: pgbackrest, pgbackrest_repo, pgbackrest_install

- block:
    # RedHat pgdg repo
    - name: Get pgdg-redhat-repo-latest.noarch.rpm
      ansible.builtin.get_url:
        url: "https://download.postgresql.org/pub/repos/yum/reporpms/EL-{{ ansible_distribution_major_version }}-{{ pgdg_architecture_map[ansible_architecture] }}/pgdg-redhat-repo-latest.noarch.rpm" # yamllint disable rule:line-length
        dest: /tmp/
        timeout: 30
        validate_certs: false

    - name: Make sure pgdg repository is installed
      ansible.builtin.package:
        name: /tmp/pgdg-redhat-repo-latest.noarch.rpm
        state: present
      register: package_status
      until: package_status is success
      delay: 5
      retries: 3

    - name: Clean dnf cache
      ansible.builtin.command: dnf clean all
  environment: "{{ proxy_env | default({}) }}"
  when:
    - installation_method == "packages"
    - ansible_os_family == "RedHat"
    - pgbackrest_install_from_pgdg_repo|bool
  tags: pgbackrest, pgbackrest_repo, pgbackrest_install

- name: Install pgbackrest
  ansible.builtin.package:
    name: pgbackrest
    state: present
  register: package_status
  until: package_status is success
  delay: 5
  retries: 3
  environment: "{{ proxy_env | default({}) }}"
  tags: pgbackrest, pgbackrest_install

- block:
    - name: Ensure log directory exists
      ansible.builtin.file:
        path: "{{ item.value }}"
        state: directory
        owner: postgres
        group: postgres
        mode: "0755"
      loop: "{{ pgbackrest_conf.global }}"
      when: item.option == 'log-path'
      loop_control:
        label: "{{ item.value }}"

    - name: Ensure repo directory exists
      ansible.builtin.file:
        path: "{{ item.value }}"
        state: directory
        owner: postgres
        group: postgres
        mode: "0750"
      loop: "{{ pgbackrest_conf.global }}"
      when:
        - item.option == 'repo1-path'
        - pgbackrest_repo_type | lower == 'posix'
        - pgbackrest_repo_host | length < 1
      loop_control:
        label: "{{ item.value }}"

    - name: Ensure spool directory exists
      ansible.builtin.file:
        path: "{{ item.value }}"
        state: directory
        owner: postgres
        group: postgres
        mode: "0750"
      loop: "{{ pgbackrest_conf.global }}"
      when: item.option == 'spool-path'
      loop_control:
        label: "{{ item.value }}"

    - name: Ensure config directory exists
      ansible.builtin.file:
        path: "{{ pgbackrest_conf_file | dirname }}"
        state: directory
        owner: postgres
        group: postgres
        mode: "0750"

    - name: "Generate conf file {{ pgbackrest_conf_file }}"
      ansible.builtin.template:
        src: pgbackrest.conf.j2
        dest: "{{ pgbackrest_conf_file }}"
        owner: postgres
        group: postgres
        mode: "0644"
  when: "'postgres_cluster' in group_names"
  tags: pgbackrest, pgbackrest_conf

# Dedicated pgbackrest server (if "repo_host" is set)
- block:
    - name: Ensure log directory exists
      ansible.builtin.file:
        path: "{{ item.value }}"
        state: directory
        owner: "{{ pgbackrest_repo_user }}"
        group: "{{ pgbackrest_repo_user }}"
        mode: "0755"
      loop: "{{ pgbackrest_server_conf.global }}"
      when: item.option == 'log-path'
      loop_control:
        label: "{{ item.value }}"

    - name: Ensure repo directory exists
      ansible.builtin.file:
        path: "{{ item.value }}"
        state: directory
        owner: "{{ pgbackrest_repo_user }}"
        group: "{{ pgbackrest_repo_user }}"
        mode: "0750"
      loop: "{{ pgbackrest_server_conf.global }}"
      when: item.option == 'repo1-path'
      loop_control:
        label: "{{ item.value }}"

    - name: Ensure config directory exists
      ansible.builtin.file:
        path: "{{ pgbackrest_conf_file | dirname }}"
        state: directory
        owner: "{{ pgbackrest_repo_user }}"
        group: "{{ pgbackrest_repo_user }}"
        mode: "0750"

    - name: Ensure stanza config directory exists
      ansible.builtin.file:
        path: "{{ pgbackrest_conf_file | dirname }}/conf.d"
        state: directory
        owner: "{{ pgbackrest_repo_user }}"
        group: "{{ pgbackrest_repo_user }}"
        mode: "0750"

    - name: "Generate global conf file {{ pgbackrest_conf_file }}"
      ansible.builtin.template:
        src: pgbackrest.server.conf.j2
        dest: "{{ pgbackrest_conf_file }}"
        owner: "{{ pgbackrest_repo_user }}"
        group: "{{ pgbackrest_repo_user }}"
        mode: "0644"

    - name: "Generate stanza conf file {{ pgbackrest_conf_file | dirname }}/conf.d/{{ pgbackrest_stanza }}.conf"
      ansible.builtin.template:
        src: pgbackrest.server.stanza.conf.j2
        dest: "{{ pgbackrest_conf_file | dirname }}/conf.d/{{ pgbackrest_stanza }}.conf"
        owner: "{{ pgbackrest_repo_user }}"
        group: "{{ pgbackrest_repo_user }}"
        mode: "0644"
  when:
    - "'pgbackrest' in group_names"
    - pgbackrest_repo_host is defined
    - pgbackrest_repo_host | length > 0
  tags: pgbackrest, pgbackrest_conf

# if 'pgbackrest_repo_host' or 'backup-standby' are specified
- ansible.builtin.import_tasks: ssh_keys.yml
  when:
    - (pgbackrest_repo_host is defined and pgbackrest_repo_host | length > 0) or
      (pgbackrest_conf.global | selectattr('option', 'equalto', 'backup-standby') | map(attribute='value') | list | last | default('') == 'y')
    - not ansible_check_mode
  tags: pgbackrest, pgbackrest_ssh_keys

- ansible.builtin.import_tasks: cron.yml
  when:
    - pgbackrest_cron_jobs is defined
    - pgbackrest_cron_jobs | length > 0
  tags: pgbackrest, pgbackrest_cron
# - import_tasks: bootstrap_script.yml
#  when:
#    - patroni_cluster_bootstrap_method is defined
#    - patroni_cluster_bootstrap_method == "pgbackrest"
#    - "'postgres_cluster' in group_names"
#  tags: pgbackrest, pgbackrest_bootstrap_script
