---
- name: Checking ansible version
  ansible.builtin.fail:
    msg: "Ansible version must be {{ minimal_ansible_version }} or higher"
  delegate_to: localhost
  when: ansible_version.full is version(minimal_ansible_version, '<')

- name: Checking Linux distribution
  ansible.builtin.fail:
    msg: "{{ ansible_distribution }} is not supported"
  when: ansible_distribution not in os_valid_distributions

- name: Checking version of OS Linux
  ansible.builtin.fail:
    msg: "{{ ansible_distribution_version }} of {{ ansible_distribution }} is not supported"
  when: ansible_distribution_version is version(os_minimum_versions[ansible_distribution], '<')

- name: Perform pre-checks for system
  ansible.builtin.import_tasks: system.yml
  when: inventory_hostname in groups['postgres_cluster']

- name: Perform pre-checks for pgbouncer
  ansible.builtin.import_tasks: pgbouncer.yml
  when:
    - pgbouncer_install is defined
    - pgbouncer_install | bool
    - inventory_hostname in groups['postgres_cluster']

- name: Perform pre-checks for patroni
  ansible.builtin.import_tasks: patroni.yml
  when: inventory_hostname in groups['postgres_cluster']

- name: Perform pre-checks for huge_pages
  ansible.builtin.import_tasks: huge_pages.yml
  when: inventory_hostname in groups['postgres_cluster']

- name: Perform pre-checks for pgbackrest
  ansible.builtin.import_tasks: pgbackrest.yml
  when:
    - pgbackrest_install is defined
    - pgbackrest_install | bool
    - inventory_hostname in groups['postgres_cluster']

- name: Perform pre-checks for WAL-G
  ansible.builtin.import_tasks: wal_g.yml
  when:
    - wal_g_install is defined
    - wal_g_install | bool
    - inventory_hostname in groups['postgres_cluster']

- name: Perform pre-checks for extensions
  ansible.builtin.import_tasks: extensions.yml
  when: inventory_hostname == groups['master'][0]

- name: Perform pre-checks for Standby Cluster configuration
  ansible.builtin.import_tasks: standby_cluster.yml
  when:
    - inventory_hostname in groups['postgres_cluster']
    - patroni_standby_cluster.host | default('') | length > 0

- name: Generate passwords
  ansible.builtin.import_tasks: passwords.yml
  when: inventory_hostname in groups['postgres_cluster']

# for Standby Cluster configuration (if 'patroni_standby_cluster_auto_hba' is 'true')
- name: Update PostgreSQL configuration on Source Cluster to apply pg_hba.conf changes
  ansible.builtin.command: >-
    {{ pg_bin_dir }}/psql -h 127.0.0.1 -p {{ pg_port }} -U {{ patroni_superuser_username }} -d postgres -tAXc
    "select pg_reload_conf()"
  vars:
    pg_bin_dir: "{{ source_cluster_postgresql_bin_dir | default(postgresql_bin_dir) }}"
    pg_port: "{{ source_cluster_postgresql_port | default(postgresql_port) }}"
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when:
    - patroni_standby_cluster_auto_hba | default(true) | bool
    - inventory_hostname in (groups.get('source_cluster') | default([], true))
