---
- block:
    - name: Get system username
      become: false
      ansible.builtin.command: whoami
      register: system_user
      changed_when: false

    - name: "Add public keys to ~{{ system_user.stdout | default('') }}/.ssh/authorized_keys"
      ansible.posix.authorized_key:
        user: "{{ system_user.stdout }}"
        key: "{{ item | replace(\"'\", '') | replace('\"', '') | trim }}"
        state: present
      loop: >-
        {{
          (ssh_public_keys
          | replace('\n', ',')
          | split(',')
          | reject('equalto', '')
          | list)
          if ssh_public_keys is string else ssh_public_keys
        }}
  when:
    - ssh_public_keys is defined
    - ssh_public_keys | length > 0
  tags: ssh_public_keys
