# WARNING!!! Ansible managed.

[Unit]
ConditionFileNotEmpty=
ConditionFileNotEmpty={{ consul_config_path }}/config.{{ consul_config_type }}

[Service]
ExecStart=
ExecStart=/usr/bin/consul agent -config-file={{ consul_config_path }}/config.{{ consul_config_type }} -config-dir={{ consul_configd_path }}

