[Unit]
Description=Consul docker wrapper
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutSec=30
RestartSec=15
Restart=always

# Delete consul container (if any)
ExecStartPre=-/usr/bin/docker rm -f {{ consul_container.name | default('consul') }}

# Start consul container
ExecStart=/usr/bin/docker run -d \
  --name {{ consul_container.name | default('consul') }} \
  {% for option in consul_container.options | default([]) %}
  {{ option }} \
  {% endfor %}
  {% for env in consul_container.envs | default([]) %}
  --env {{ env }} \
  {% endfor %}
  {% for volume in consul_container.volumes | default([]) %}
  --volume {{ volume }} \
  {% endfor %}
  {{ consul_container.image | default('bitnami/consul:latest') }} {{ consul_container.run_command | default('') }}

# Stop consul container
ExecStop=-/usr/bin/docker stop {{ consul_container.name | default('consul') }}
ExecStopPost=-/usr/bin/docker rm -f {{ consul_container.name | default('consul') }}

# Send HUP to reload config
ExecReload=/usr/bin/docker exec {{ consul_container.name | default('consul') }} kill -SIGHUP 1

[Install]
WantedBy=multi-user.target
