ansible==9.13.0
ansible-compat==25.5.0
ansible-core==2.16.14
ansible-lint==25.5.0
attrs==25.3.0
black==25.1.0
bracex==2.5.post1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
click-help-colors==0.9.4
cryptography==44.0.3
docker==7.1.0
enrich==1.2.7
filelock==3.18.0
flake8==7.1.2
idna==3.10
importlib-metadata==8.6.1
jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
markupsafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
molecule==25.3.1
molecule-plugins==23.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.5.0
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
pygments==2.19.1
pyyaml==6.0.2
referencing==0.36.2
requests==2.32.3
resolvelib==1.0.1
rich==13.9.4
rpds-py==0.23.1
ruamel-yaml==0.18.12
ruamel-yaml-clib==0.2.12
subprocess-tee==0.4.2
tomli==2.2.1
typing-extensions==4.12.2
urllib3==2.3.0
wcmatch==10.0
wheel==0.45.1
yamllint==1.37.1
zipp==3.21.0
