---
# Blue-green upgrade method: Create subscriptions on the target cluster
# for logical replication from the source cluster (source -> target).

# One subscription (if pg_publication_count = 1)
- block:
    - name: "Create a subscription for logical replication using a previously created slot"
      ansible.builtin.shell: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "drop subscription if exists {{ pg_subscription_name }}";
        {{ psql_command }} -d {{ dbname }} -tAXc "create subscription {{ pg_subscription_name }}
        connection 'host={{ source_primary_host_addr }} port={{ postgresql_port }}
        user={{ patroni_superuser_username }} dbname={{ dbname }}'
        publication {{ pg_publication_name }}
        with (copy_data = false, create_slot = false, slot_name = '{{ slot_name }}')"
      when:
        - inventory_hostname in groups['target_cluster']
        - patroni_cluster_leader

    - name: "Make sure that logical replication is active"
      ansible.builtin.command: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "
        select active from pg_replication_slots where slot_name = '{{ slot_name }}'"
      register: pg_logical_slot_state
      changed_when: false
      until: pg_logical_slot_state.stdout == "t"
      retries: 30
      delay: 2
      when:
        - inventory_hostname in groups['source_cluster']
        - patroni_cluster_leader

    - name: "Check the logical replication lag"
      ansible.builtin.command: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "
        select pg_wal_lsn_diff(pg_current_wal_lsn(), confirmed_flush_lsn)
        from pg_replication_slots
        where slot_name = '{{ slot_name }}'"
      register: pg_logical_slot_lag_bytes
      changed_when: false
      when:
        - inventory_hostname in groups['source_cluster']
        - patroni_cluster_leader

    - name: "Result of setting up logical replication"
      ansible.builtin.debug:
        msg: >-
          The logical replication setup is completed. Current replication lag:
          {{ pg_logical_slot_lag_bytes.stdout | int | human_readable }}
      when:
        - inventory_hostname in groups['source_cluster']
        - patroni_cluster_leader
  vars:
    psql_command: "{{ pg_old_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }}"
    source_primary_host: "{{ (groups.get('source_primary') | default([], true) | first) | default('', true) }}"
    source_primary_host_addr: >-
      {{
        hostvars[source_primary_host].patroni_bind_address
        | default(hostvars[source_primary_host].bind_address, true)
        | default(hostvars[source_primary_host].inventory_hostname, true)
      }}
    slot_name: "{{ (pg_subscription_slot_name ~ '_' ~ dbname) | lower | regex_replace('[^a-z0-9_]+', '_') }}"
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when: pg_publication_count | int == 1

# Multiple subscriptions (if pg_publication_count > 1)
- block:
    # Create multiple subscriptions (for each slot/publication)
    - name: "Create a subscription for logical replication using a previously created slot"
      ansible.builtin.shell: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "drop subscription if exists {{ pg_subscription_name }}_{{ '%02d' % (idx + 1) }}";
        {{ psql_command }} -d {{ dbname }} -tAXc "create subscription {{ pg_subscription_name }}_{{ '%02d' % (idx + 1) }}
        connection 'host={{ source_primary_host_addr }} port={{ postgresql_port }}
        user={{ patroni_superuser_username }} dbname={{ dbname }}'
        publication {{ pg_publication_name }}_{{ '%02d' % (idx + 1) }}
        with (copy_data = false, create_slot = false, slot_name = '{{ slot_name }}_{{ '%02d' % (idx + 1) }}')"
      loop: "{{ range(0, pg_publication_count | int) | list }}"
      loop_control:
        index_var: idx
        label: "{{ slot_name }}_{{ '%02d' % (idx + 1) }}"
      when:
        - inventory_hostname in groups['target_cluster']
        - patroni_cluster_leader

    # Check the logical replication state for each slot
    - name: "Make sure that logical replication is active"
      ansible.builtin.command: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "
        select active from pg_replication_slots
        where slot_name = '{{ slot_name }}_{{ '%02d' % (idx + 1) }}'"
      register: pg_logical_slot_state
      changed_when: false
      until: pg_logical_slot_state.stdout == "t"
      retries: 30
      delay: 2
      loop: "{{ range(0, pg_publication_count | int) | list }}"
      loop_control:
        index_var: idx
        label: "{{ slot_name }}_{{ '%02d' % (idx + 1) }}"
      when:
        - patroni_cluster_leader
        - inventory_hostname in groups['source_cluster']

    # Check the logical replication lag for each slot
    - name: "Check the logical replication lag"
      ansible.builtin.command: >-
        {{ psql_command }} -d {{ dbname }} -Xc "
        select slot_name, pg_wal_lsn_diff(pg_current_wal_lsn(), confirmed_flush_lsn)
        from pg_replication_slots
        where slot_name = '{{ slot_name }}_{{ '%02d' % (idx + 1) }}'"
      register: pg_logical_slot_lag_bytes
      changed_when: false
      loop: "{{ range(0, pg_publication_count | int) | list }}"
      loop_control:
        index_var: idx
        label: "{{ slot_name }}_{{ '%02d' % (idx + 1) }}"
      when:
        - inventory_hostname in groups['source_cluster']
        - patroni_cluster_leader

    # Display the logical replication lag for each slot
    - name: "Result of setting up logical replication"
      ansible.builtin.debug:
        msg: "{{ item.stdout_lines }}"
      loop: "{{ pg_logical_slot_lag_bytes.results }}"
      loop_control:
        index_var: idx
        label: "{{ slot_name }}_{{ '%02d' % (idx + 1) }}"
      when:
        - inventory_hostname in groups['source_cluster']
        - patroni_cluster_leader
  vars:
    psql_command: "{{ pg_old_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }}"
    source_primary_host: "{{ (groups.get('source_primary') | default([], true) | first) | default('', true) }}"
    source_primary_host_addr: >-
      {{
        hostvars[source_primary_host].patroni_bind_address
        | default(hostvars[source_primary_host].bind_address, true)
        | default(hostvars[source_primary_host].inventory_hostname, true)
      }}
    slot_name: "{{ (pg_subscription_slot_name ~ '_' ~ dbname) | lower | regex_replace('[^a-z0-9_]+', '_') }}"
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when: pg_publication_count | int > 1
