---
# Blue-green upgrade method: Create subscriptions for logical replication.

# One subscription (if pg_publication_count = 1)
- block:
    - name: "Create subscription for logical replication (database: {{ dbname | default('postgres') }})"
      ansible.builtin.shell: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "drop subscription if exists {{ subscription_name }}";
        {{ psql_command }} -d {{ dbname }} -tAXc "create subscription {{ subscription_name }}
        connection 'host={{ publisher_primary_host_addr }} port={{ postgresql_port }}
        user={{ patroni_superuser_username }} password={{ patroni_superuser_password }} dbname={{ dbname }}'
        publication {{ publication_name }}
        with (copy_data = false, create_slot = false, slot_name = '{{ slot_name }}')"
      no_log: true
      when: inventory_hostname in (groups.get(subscriber_group, []) | default([], true))

    - name: "Make sure that logical replication is active (database: {{ dbname | default('postgres') }})"
      ansible.builtin.command: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "
        select active from pg_replication_slots where slot_name = '{{ slot_name }}'"
      register: pg_logical_slot_state
      changed_when: false
      until: pg_logical_slot_state.stdout == "t"
      retries: 30
      delay: 2
      when: inventory_hostname in (groups.get(publisher_group, []) | default([], true))

    - name: "Check the logical replication lag (database: {{ dbname | default('postgres') }})"
      ansible.builtin.command: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "
        select pg_size_pretty(pg_wal_lsn_diff(pg_current_wal_lsn(), confirmed_flush_lsn)) as lag
        from pg_replication_slots where slot_name = '{{ slot_name }}'"
      register: pg_logical_slot_lag
      changed_when: false
      when: inventory_hostname in (groups.get(publisher_group, []) | default([], true))

    - name: "Result of setting up logical replication (database: {{ dbname | default('postgres') }})"
      ansible.builtin.debug:
        msg:
          - "The logical replication setup is completed in database {{ dbname | default('postgres') }}."
          - "Current replication lag: {{ pg_logical_slot_lag.stdout }}"
      when: inventory_hostname in (groups.get(publisher_group, []) | default([], true))
  vars:
    pg_bindir: "{{ pg_old_bindir if (postgresql_data_dir | regex_replace('/+$', '')) == (pg_old_datadir | regex_replace('/+$', '')) else pg_new_bindir }}"
    psql_command: "{{ pg_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }}"
    publication_name: "{{ pg_publication_name if not reverse_replication | default(false) | bool else pg_reverse_publication_name }}"
    subscription_name: "{{ pg_subscription_name if not reverse_replication | default(false) | bool else pg_reverse_subscription_name }}"
    subscription_slot_name: "{{ pg_subscription_slot_name if not reverse_replication | default(false) | bool else pg_reverse_subscription_slot_name }}"
    slot_name: "{{ (subscription_slot_name ~ '_' ~ dbname) | lower | regex_replace('[^a-z0-9_]+', '_') }}"
    subscriber_group: "{{ 'target_cluster' if not reverse_replication | default(false) | bool else 'source_cluster' }}"
    publisher_group: "{{ 'source_cluster' if not reverse_replication | default(false) | bool else 'target_cluster' }}"
    publisher_primary_group: "{{ 'source_primary' if not reverse_replication | default(false) | bool else 'primary' }}"
    publisher_primary_host: "{{ (groups.get(publisher_primary_group, []) | first) | default('', true) }}"
    publisher_primary_host_addr: >-
      {{
        hostvars[publisher_primary_host].patroni_bind_address
        | default(hostvars[publisher_primary_host].bind_address, true)
        | default(hostvars[publisher_primary_host].inventory_hostname, true)
      }}
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when:
    - patroni_cluster_leader | default(false) | bool
    - pg_publication_count | int == 1

# Multiple subscriptions (if pg_publication_count > 1)
- block:
    # Create multiple subscriptions (for each slot/publication)
    - name: "Create subscription for logical replication (database: {{ dbname | default('postgres') }})"
      ansible.builtin.shell: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "drop subscription if exists {{ subscription_name }}_{{ '%02d' % (idx + 1) }}";
        {{ psql_command }} -d {{ dbname }} -tAXc "create subscription {{ subscription_name }}_{{ '%02d' % (idx + 1) }}
        connection 'host={{ publisher_primary_host_addr }} port={{ postgresql_port }}
        user={{ patroni_superuser_username }} password={{ patroni_superuser_password }} dbname={{ dbname }}'
        publication {{ publication_name }}_{{ '%02d' % (idx + 1) }}
        with (copy_data = false, create_slot = false, slot_name = '{{ slot_name }}_{{ '%02d' % (idx + 1) }}')"
      loop: "{{ range(0, pg_publication_count | int) | list }}"
      loop_control:
        index_var: idx
        label: "{{ slot_name }}_{{ '%02d' % (idx + 1) }}"
      when: inventory_hostname in (groups.get(subscriber_group, []) | default([], true))

    # Check the logical replication state for each slot
    - name: "Make sure that logical replication is active (database: {{ dbname | default('postgres') }})"
      ansible.builtin.command: >-
        {{ psql_command }} -d {{ dbname }} -tAXc "
        select active from pg_replication_slots
        where slot_name = '{{ slot_name }}_{{ '%02d' % (idx + 1) }}'"
      register: pg_logical_slot_state
      changed_when: false
      until: pg_logical_slot_state.stdout == "t"
      retries: 30
      delay: 2
      loop: "{{ range(0, pg_publication_count | int) | list }}"
      loop_control:
        index_var: idx
        label: "{{ slot_name }}_{{ '%02d' % (idx + 1) }}"
      when: inventory_hostname in (groups.get(publisher_group, []) | default([], true))

    # Check the logical replication lag for each slot
    - name: "Check the logical replication lag (database: {{ dbname | default('postgres') }})"
      ansible.builtin.command: >-
        {{ psql_command }} -d {{ dbname }} -Xc "
        select slot_name, pg_size_pretty(pg_wal_lsn_diff(pg_current_wal_lsn(), confirmed_flush_lsn)) as lag
        from pg_replication_slots where slot_name like '{{ slot_name }}%'"
      register: pg_multiple_logical_slot_lag
      changed_when: false
      when: inventory_hostname in (groups.get(publisher_group, []) | default([], true))

    # Display the logical replication lag for each slot
    - name: "Result of setting up logical replication (database: {{ dbname | default('postgres') }})"
      ansible.builtin.debug:
        msg: "{{ pg_multiple_logical_slot_lag.stdout }}"
      when: inventory_hostname in (groups.get(publisher_group, []) | default([], true))
  vars:
    pg_bindir: "{{ pg_old_bindir if (postgresql_data_dir | regex_replace('/+$', '')) == (pg_old_datadir | regex_replace('/+$', '')) else pg_new_bindir }}"
    psql_command: "{{ pg_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }}"
    source_primary_host: "{{ (groups.get('source_primary', []) | first) | default('', true) }}"
    publication_name: "{{ pg_publication_name if not reverse_replication | default(false) | bool else pg_reverse_publication_name }}"
    subscription_name: "{{ pg_subscription_name if not reverse_replication | default(false) | bool else pg_reverse_subscription_name }}"
    subscription_slot_name: "{{ pg_subscription_slot_name if not reverse_replication | default(false) | bool else pg_reverse_subscription_slot_name }}"
    slot_name: "{{ (subscription_slot_name ~ '_' ~ dbname) | lower | regex_replace('[^a-z0-9_]+', '_') }}"
    subscriber_group: "{{ 'target_cluster' if not reverse_replication | default(false) | bool else 'source_cluster' }}"
    publisher_group: "{{ 'source_cluster' if not reverse_replication | default(false) | bool else 'target_cluster' }}"
    publisher_primary_group: "{{ 'source_primary' if not reverse_replication | default(false) | bool else 'primary' }}"
    publisher_primary_host: "{{ (groups.get(publisher_primary_group, []) | first) | default('', true) }}"
    publisher_primary_host_addr: >-
      {{
        hostvars[publisher_primary_host].patroni_bind_address
        | default(hostvars[publisher_primary_host].bind_address, true)
        | default(hostvars[publisher_primary_host].inventory_hostname, true)
      }}
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when:
    - patroni_cluster_leader | default(false) | bool
    - pg_publication_count | int > 1
