---
- name: Restore the old PgBouncer configuration
  ansible.builtin.replace:
    path: "{{ pgbouncer_conf_dir }}/pgbouncer.ini"
    regexp: '(?m)^(\s*[^#;\n]*\bhost=)[^\s]+'
    replace: '\g<1>{{ postgresql_unix_socket_dir }}'
  register: pgbouncer_restore_result

- name: Restart PgBouncer after configuration changes
  ansible.builtin.include_tasks: pgbouncer_restart.yml
  when: pgbouncer_restore_result.changed | default(false)
