---
# Pre-Checks for switchover playbook (blue-green deployment method)
- block:
    - name: Check logical replication slot lag
      ansible.builtin.import_tasks: replication_slot_lag.yml
      when: inventory_hostname in groups['source_primary']

    # if pg_replication_database = "all"
    - name: "[Prepare] Get a list of databases"
      ansible.builtin.command: >
        {{ psql_command }} -tAXc "select datname from pg_catalog.pg_database where not datistemplate"
      register: datname_result
      changed_when: false
      when:
        - pg_replication_database == "all"
        - inventory_hostname in groups['primary']

    - name: "Set variable: pg_replication_database"
      ansible.builtin.set_fact:
        pg_replication_database: "{{ hostvars[target_primary_host].datname_result.stdout_lines }}"
      when: pg_replication_database == "all"

    - name: "Set variable: source_databases"
      ansible.builtin.set_fact:
        source_databases: >-
          {{
            pg_replication_database is string
            | ternary(
                pg_replication_database.split(',') | map('trim') | reject('equalto', '') | list,
                (pg_replication_database | default([], true))
              )
          }}

    - name: "[Prepare] Get password encryption setting"
      ansible.builtin.command: >
        {{ psql_command }} -tAXc "show password_encryption"
      register: password_encryption_result
      changed_when: false
      when: inventory_hostname in groups['primary']

    - name: "Set variable: postgresql_password_encryption_algorithm"
      ansible.builtin.set_fact:
        postgresql_password_encryption_algorithm: "{{ hostvars[target_primary_host].password_encryption_result.stdout }}"

  vars:
    pg_bindir: "{{ pg_old_bindir if inventory_hostname in groups['source_cluster'] else pg_new_bindir }}"
    psql_command: "{{ pg_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }} -d postgres"
    target_primary_host: "{{ (groups.get('primary', []) | first) | default('', true) }}"
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when: inventory_hostname in groups['source_cluster'] or inventory_hostname in groups['target_cluster']
