---
# Blue-green upgrade method: Create publications and replication slots on the source cluster
# for logical replication to the target cluster (source -> target).

- name: "Create publication/slot for each database"
  ansible.builtin.include_tasks: create_publication.yml
  loop: "{{ source_databases }}"
  loop_control:
    loop_var: dbname
    label: "{{ dbname }}"
  when: patroni_cluster_leader

- name: "Advance slots for each database"
  ansible.builtin.include_tasks: replication_slot_advance.yml
  loop: "{{ source_databases }}"
  loop_control:
    loop_var: dbname
    label: "{{ dbname }}"
  when:
    - patroni_cluster_leader
    - reverse_replication | default(false) | bool # skip for reverse replication
