---
# Blue-green upgrade method: Advance all created slots to the same target LSN to ensure consistency.

# One slot (if pg_publication_count = 1)
- name: "Advance replication slot to the last LSN position"
  ansible.builtin.command: >-
    {{ psql_command }} -d {{ dbname }} -tAXc "
    select pg_replication_slot_advance('{{ slot_name }}', '{{ target_lsn }}')
    from pg_replication_slots
    where slot_name = '{{ slot_name }}';"
  vars:
    psql_command: "{{ pg_old_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }}"
    slot_name: "{{ (pg_subscription_slot_name ~ '_' ~ dbname) | lower | regex_replace('[^a-z0-9_]+', '_') }}"
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when: pg_publication_count | int == 1

# Multiple slots (if pg_publication_count > 1)
- name: "Advance all replication slots to the last LSN position"
  ansible.builtin.command: >-
    {{ psql_command }} -d {{ dbname }} -tAXc "
    select pg_replication_slot_advance('{{ slot_name }}_{{ '%02d' % (idx + 1) }}', '{{ target_lsn }}')
    from pg_replication_slots
    where slot_name = '{{ slot_name }}_{{ '%02d' % (idx + 1) }}';"
  loop: "{{ range(0, pg_publication_count | int) | list }}"
  loop_control:
    index_var: idx
    label: "{{ slot_name }}_{{ '%02d' % (idx + 1) }}"
  vars:
    psql_command: "{{ pg_old_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }}"
    slot_name: "{{ (pg_subscription_slot_name ~ '_' ~ dbname) | lower | regex_replace('[^a-z0-9_]+', '_') }}"
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when: pg_publication_count | int > 1
