---
# Blue-green upgrade method: Create subscriptions on the source cluster
# for reverse logical replication from the target cluster (source <- target).

# One subscription (if pg_publication_count = 1)
- block:
    - name: "Create a subscription for reverse logical replication"
      ansible.builtin.shell: >-
        {{ psql_command }} -tAXc "drop subscription if exists {{ pg_reverse_subscription_name }}";
        {{ psql_command }} -tAXc "create subscription {{ pg_reverse_subscription_name }}
        connection 'host={{ hostvars[groups['target_primary'][0]]['inventory_hostname'] }}
        port={{ pg_source_port }} user={{ patroni_superuser_username }} dbname={{ dbname }}'
        publication {{ pg_reverse_publication_name }}
        with (copy_data = false, create_slot = false, slot_name = '{{ pg_reverse_subscription_slot_name }}')"
      when:
        - inventory_hostname in groups['source_cluster']
        - patroni_cluster_leader

    - name: "Make sure that reverse logical replication is active"
      ansible.builtin.command: >-
        {{ psql_command }} -tAXc "select active
        from pg_replication_slots where slot_name = '{{ pg_reverse_subscription_slot_name }}'"
      register: pg_logical_slot_state
      changed_when: false
      until: pg_logical_slot_state.stdout == "t"
      retries: 30
      delay: 2
      when:
        - inventory_hostname in groups['target_cluster']
        - patroni_cluster_leader
  vars:
    psql_command: "{{ pg_old_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }} -d {{ dbname }}"
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when: pg_publication_count | int == 1

# Multiple subscriptions (if pg_publication_count > 1)
- block:
    # Create multiple subscriptions (for each slot/publication)
    - name: "Create a subscription for reverse logical replication"
      ansible.builtin.shell: >-
        {{ psql_command }} -tAXc "drop subscription if exists {{ pg_reverse_subscription_name }}_{{ '%02d' % (idx + 1) }}";
        {{ psql_command }} -tAXc "create subscription {{ pg_reverse_subscription_name }}_{{ '%02d' % (idx + 1) }}
        connection 'host={{ hostvars[groups['target_primary'][0]]['inventory_hostname'] }}
        port={{ pg_source_port }} user={{ patroni_superuser_username }} dbname={{ dbname }}'
        publication {{ pg_reverse_publication_name }}_{{ '%02d' % (idx + 1) }}
        with (copy_data = false, create_slot = false, slot_name = '{{ pg_reverse_subscription_slot_name }}_{{ '%02d' % (idx + 1) }}')"
      loop: "{{ range(0, pg_publication_count | int) | list }}"
      loop_control:
        index_var: idx
        label: "{{ pg_reverse_subscription_name }}_{{ '%02d' % (idx + 1) }}"
      when:
        - inventory_hostname in groups['source_cluster']
        - patroni_cluster_leader

    # Check the logical replication state for each slot
    - name: "Make sure that reverse logical replication is active"
      ansible.builtin.command: >-
        {{ psql_command }} -tAXc "select active from pg_replication_slots
        where slot_name = '{{ pg_reverse_subscription_slot_name }}_{{ '%02d' % (idx + 1) }}'"
      register: pg_logical_slot_state
      changed_when: false
      until: pg_logical_slot_state.stdout == "t"
      retries: 30
      delay: 2
      loop: "{{ range(0, pg_publication_count | int) | list }}"
      loop_control:
        index_var: idx
        label: "{{ pg_reverse_subscription_slot_name }}_{{ '%02d' % (idx + 1) }}"
      when:
        - patroni_cluster_leader
        - inventory_hostname in groups['target_cluster']
  vars:
    psql_command: "{{ pg_old_bindir }}/psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }} -d {{ dbname }}"
  environment:
    PGPASSWORD: "{{ patroni_superuser_password }}"
  when: pg_publication_count | int > 1
