---
# Blue-green upgrade method: Get a list of databases for logical replication.
- block:
    # if pg_replication_database = "all"
    - name: "Get a list of databases"
      ansible.builtin.command: >
        {{ psql_command }} -tAXc "select datname from pg_catalog.pg_database where not datistemplate"
      register: datname_result
      changed_when: false
      vars:
        psql_command: "psql -h 127.0.0.1 -p {{ postgresql_port }} -U {{ patroni_superuser_username }} -d postgres"
      environment:
        PATH: "{{ ansible_env.PATH }}:{{ pg_new_bindir }}:{{ pg_old_bindir }}"
        PGPASSWORD: "{{ patroni_superuser_password }}"
      when: pg_replication_database == "all"

    - name: "Set variable: pg_replication_database"
      ansible.builtin.set_fact:
        pg_replication_database: "{{ datname_result.stdout_lines | default([]) }}"
      when: pg_replication_database == "all"

    - name: "Set variable: source_databases"
      ansible.builtin.set_fact:
        source_databases: >-
          {{
            pg_replication_database is string
            | ternary(
                pg_replication_database.split(',') | map('trim') | reject('equalto', '') | list,
                (pg_replication_database | default([], true))
              )
          }}
  when: patroni_cluster_leader | default(false) | bool
